---
use_title_as_h1: true
---

{%- macro selected_href(url) -%}
{%- if (page.url | lower) == (url + '/') -%}
class="selected" href="{{ url }}"
{%- else -%}
href="{{ url }}"
{%- endif -%}
{%- endmacro -%}

{%- set script_tag %}

{%- endset -%}

<!DOCTYPE html>
{%- if redirect %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="Refresh" content="0; url='{{redirect}}'">
</head>
{%- else %}
<head>
  <meta charset="utf-8">
  {%- if title %}
  <title>{{ title }}</title>
  {%- endif %}
  <link rel="stylesheet" href="/_stylesheets/default.css">
  <link rel="stylesheet" href="/_stylesheets/highlight.js/github.min.css">
</head>

<header>
  <a href="/">
    <img class ="logo" style="width: 80px; height: 80px;" alt="the Chromium logo" src="/_assets/logo.jpg">
    <h2>The Chromium (3d<sup>5</sup>4s<sup>1</sup>) or Huge Technology Zenith</h2>
  </a>
</header>

<div id="main-wrapper">
  <nav id="sidebar-left">
    <section>
      <a {{ selected_href("/Home") }}>Home</a>
      <a {{ selected_href("/chromium") }}>Chromium</a>
      <a {{ selected_href("/chromium-os") }}>ChromiumOS</a>
      <a {{ selected_href("/friends") }}>Friends</a>
    </section>
    <section>
      <h4>Quick links</h4>
      <a href="http://www.hanggao.net/">Zhejiang Hangzhou High School</a>
      <a href="https://oj.techo.cool/">Hangzhou High School OJ</a>
      <a href="https://zty796.top/">Sweaty's Blog</a>
    </section>
    <section>
      <h4>Other sites</h4>
      <a href="https://chromium.org/">Chromium Official Site</a>
    </section>
    <section id="license" role="complementary">
      Except as otherwise noted,
      the content of this page is licensed under a
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution NonCommercial ShareAlike 4.0 license</a>.
    </section>
    <section id="privacy" role="complementary">
      Privacy policy: We don't collect any data from you.
    </section>
  </nav>
  <main>
  {%- if breadcrumbs %}
    <div class="breadcrumbs">
  {%- for link in breadcrumbs %}
      <a href="{{ link[0] }}">{{ link[1] }}</a> &gt;
  {%- endfor %}
    </div>
  {%- endif %}
  {%- if use_title_as_h1 and title %}
    <h1>{{ title }}</h1>
  {%- endif %}
  {{content | safe}}
  </main>
</div>
<script>{{ script_tag | cspHash | safe }}</script>
{%- endif %}
